.counter-body {
    min-height: 100%;
    width: 200px;

    display: flex;
    flex-flow: column;

    align-items: center;
}

.counter-buttons-container {
    margin-top: auto;
}

.counter-button {
    height: 60px;
    width: 60px;

    vertical-align: middle;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;

    border-style: none;
    border-radius: 50%;
    background-color: black;

    margin: .1em;

    color: white;

    font-size: 30px;
}

.svg-canvas {
}