.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  height: 100%;

  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: .5em;

  font-size: .7em;
}

.finished-message {
  text-align: center;
}

.restart-button {
  height: 30px;
}

a {
  color: darkslateblue;
}

h2, h3 {
  margin-block-start: 0em;
  margin-block-end: .2em;
}